.featured-blog-post {
  margin-bottom: 40px;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.featured-blog-post h2 {
  color: #333;
  margin-bottom: 15px;
}

.featured-blog-post p {
  color: #666;
  line-height: 1.6;
  margin-bottom: 15px;
}

.blog-image-container {
  text-align: center;
  margin-top: 20px;
}

.blog-image {
  max-width: 300px; /* Medium size */
  display: block; /* To allow margin auto for centering */
  margin: 0 auto; /* Center the image */
  height: auto;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.image-caption {
  font-style: italic;
  color: #888;
  margin-top: 10px;
  font-size: 0.9em;
}
