footer {
  background-color: var(--primary-color);
  color: var(--neutral-color-white);
  padding: 2rem;
  text-align: center;
}

.footer-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
}

.social-media a {
  color: var(--neutral-color-white);
  margin: 0 0.5rem;
  font-size: 1.5rem;
}

.social-media a:hover {
  color: var(--secondary-color);
}
