header {
  background-color: var(--primary-color);
  padding: 1rem 2rem;
  color: var(--neutral-color-white);
  display: flex;
  justify-content: space-between;
  align-items: center;
}

header nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  gap: 1.5rem;
}

header nav a {
  color: var(--neutral-color-white);
  font-weight: 500;
  font-size: 1.1rem;
}

header nav a:hover {
  color: var(--secondary-color);
  text-decoration: none;
}

.logo-container {
    display: flex;
    align-items: center;
}

.logo-container img {
    max-height: 60px; /* Adjust as needed */
    vertical-align: middle;
    margin-right: 0.5rem;
}

.logo-link {
    text-decoration: none;
}

.logo-text {
    font-size: 1.5rem;
    font-weight: bold;
    color: var(--neutral-color-white); /* Ensure text is white */
    text-decoration: none; /* Remove underline */
}
